<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/switch/aeigisDefenders.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: white">Aeigis Defenders</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
            Aegis Defenders is a 2D platforming and tower defense game by GUTS Department. The game originated as a project for USC’s Intermediate Games class and had a successful Kickstarter campaign in 2014. It was later picked up by publisher Humble Bundle in 2017 with Japanese publishing support from Kakehashi Games. Aegis Defenders was released on February 8, 2018, on macOS, Microsoft Windows, PlayStation 4, and Nintendo Switch.
         </p>
          <p>
             Destructoid's Chris Carter said "Aegis Defenders is a smooth, well-thought-out ride. The original art, charm, and in-game universe only add to it, and I'd love to see more."The game received a Gold Award in the Famitsu cross review, issue 1525 (February 2018), and was nominated for the 2018 SXSW Gamer's Voice Award. It received the "Best of the Mix" award at the E3 Week Mix 2017.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>GUTS Department
            <br>Humble Bundle
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br>February 2018
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://media.playstation.com/is/image/SCEA/aegis-defenders-screen-02-ps4-us-09aug17?$MediaCarousel_Original$" style="width:100%">
     <img class="mySlides" src="https://www.gry-online.pl/galeria/galeria_duze3/75958415.jpg" style="width:100%">
     <img class="mySlides" src="https://media.playstation.com/is/image/SCEA/aegis-defenders-screen-14-ps4-us-10aug17?$MediaCarousel_Original$" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row" style="padding: 10px;">
      <p>
        In Aegis Defenders, players control a team of up to 4 characters. In addition to running, jumping, and attacking, each character has a unique sub-ability and can build a unique item. Players can use "cross fusion" to combine items into more powerful ones.
        Each level is usually split into exploration and tower defense phases. The exploration phase consists of platforming and puzzle solving. During the tower defense phase, players must protect their base (an important person or object) from waves of approaching enemies. There are 18 levels in the story campaign plus 3 bonus levels featuring crossover characters from other Kickstarter games including Shovel Knight, Lunais from Timespinner, and Derpl Zork from Awesomenauts.
      <p>
        Aegis Defenders originated as a student project by Bryce Kho and Lifu Lin for USC’s Intermediate Games class. After graduating, Bryce started indie studio GUTS Department to develop the project into a full game and launched a successful Kickstarter campaign in 2014.
        The game was primarily developed by a 3-person team with Bryce Kho as director/writer/artist/designer, his sister Kristen Kho as engineer, and Max Palazzo as producer. Bryce's wife, Lai Xu, co-wrote the script. Max Palazzo and Mike Effenberger assisted Bryce with design and tuning for levels.
        GUTS Department partnered with Power Up Audio for the music and sound effects. The soundtrack was composed by Riley Koenig. It features 14 original tracks that blend together old-school synth elements with more traditional Japanese RPG orchestral music
      </p>
    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #e51b1b; color: white">PCGamer</div>
                <div class="panel-body" style="color: black">
                    <p>
                      By returning to the past, Battlefield 1 feels renewed. The best game in the series since Bad Company 2. A must-have for any fan of the series.
                    </p>

                    <a href="https://www.pcgamer.com/ashes-of-the-singularity-review/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9733;
                     </h3>
                </div>
        </div>
      </div>

        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #ffff0c; color: black">Metacritic</div>
                <div class="panel-body" style="color: black">
                    <p>
                        Intuitive destruction and dynamic weather ensure that no battle is ever the same. Multiplayer battles are immersive and enjoyable.
                    </p>

                    <a href="https://www.gamespot.com/reviews/ashes-of-the-singularity-review/1900-6416414/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9733;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading">IGN</div>
                <div class="panel-body">
                    <p>
                      The crude, archaic charm of World War I's weaponry lends unique personality to Battlefield's already strong first-person shooting.
                    </p>

                    <a href="http://ie.ign.com/articles/2016/03/31/ashes-of-the-singularity-review" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9733;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: '4_8zvHQyy9A',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/battlefieldOne.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
