<div class="col-md-12 col-md-offset-2">
    <h2>You have successfully logged out </h2>
        <div class="row col-sm-offset-2 col-sm-10 mt">
            <a href="/" class="btn btn-warning btn-lg" role="button">Home</a>
            &nbsp;&nbsp;
            <a href="/users/login" class="btn btn-warning btn-lg" role="button">Log In</a>
        </div>


</div>