<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/PC_Portal.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="alphabeticalOrder" style="text-align: center; font-size: large">A</div>
    </div><br>

    <div class="row">

        <div id="Abzu">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Abzû</div>
                <a href="/users/abzu">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://cdn4.dualshockers.com/wp-content/uploads/2016/08/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/abzu.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Anarcute">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Anarcute</div>
                <a href="/users/anarcute">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://i.ytimg.com/vi/yFcuIAQWi_0/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/pc_gif/anarcute.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
              </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Antihero">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Antihero</div>
                      <a href="/users/antihero">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://i.ytimg.com/vi/xGsuKW8F9bs/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/antihero.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div><br>

<div class="container">
    <div class="row">

        <div id="Aporia">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Aporia: Beyond The Valley</div>
                  <a href="/users/aporia">
                <div class="panel-body">
                    <div class="introImages">
                        <img src="https://www.dlh.net/public/data/cache/1000x405/49d03de8dbb48903361003398e412ee269f4f9a1.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                        <img src="/images/game_pictures/pc_gif/aporia.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
              </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="AssassinsCreedOrigins">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">AC Origins</div>
                    <div class="panel-body">
                      <a href="/users/assasinsCreedOrigins">
                        <div class="introImages">
                            <img src="https://i.ytimg.com/vi/jY4lIYJef38/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/assasinsCreedOrigins.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="AshesOfTheSingularity">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Ashes of the Singularity</div>
                    <div class="panel-body">
                      <a href="/users/ashesOfTheSingularity">
                        <div class="introImages">
                            <img src="https://cdn.wccftech.com/wp-content/uploads/2015/08/ashes_of_singularity_featured.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/ashesOfTheSingularity.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!---------------------------------------------------------------------------------------------B------------------------------------------------------------------------------------------------------>
    <div class="row">
        <div class="alphabeticalOrder" style="text-align: center; font-size: large">B</div>
    </div><br>

    <div class="row">

        <div id="BattlefieldOne">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Battlefield 1</div>
                    <a href="/users/battlefieldOne">
                        <div class="panel-body">
                            <div class="introImages">
                                <img src="https://wallpapersite.com/images/pages/pic_w/227.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                <img src="/images/game_pictures/pc_gif/battlefieldOne.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                            </div>
                        </div>
                    </a>
                    <div class="panel-footer">
                      <div class="gameRating">
                        <h5>GDB rating: <div id="gdbRating" style="display: inline-block"></div></h5>
                        <h5>User rating: <div id="userRatingLikes"></div> | <div id="userRatingDislikes"></div></h5>
                       <div class="buttons">
                        <div id="upVoteBattlefieldOne" class="btn btn-danger upVote">&#9745;</div>
                        <div id="downVoteBattlefieldOne" class="btn btn-danger downVote">&#9746;</div>
                        <div id="battlefieldOneWishlist" class="btn btn-danger addToWishlist">+</div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="BatmanTheEnemyWithin">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Batman: The Enemy Within</div>
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://source.superherostuff.com/wp-content/uploads/2017/09/maxresdefault-1.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/batmanTheEnemyWithin.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                      <div class="gameRating">
                        <h5>GDB rating: <div class="gdbRating">&#9733 &#9733 &#9733 &#9733 &#9734;</div></h5>
                        <h5>User rating: <div id="userRatingLikes"></div> | <div id="userRatingDislikes"></div></h5>
                      <div class="buttons">
                        <div id="upVoteBatmanTheEnemyWithin" class="btn btn-danger upVote">&#9745;</div>
                        <div id="downVoteBatmanTheEnemyWithin" class="btn btn-danger downVote">&#9746;</div>
                        <div id="batmanTheEnemyWithinWishlist" class="btn btn-danger addToWishlist">+</div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Battlerite">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Battlerite</div>
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://steemitimages.com/DQmbZWCR4736b1u6BcP6EA1pyT7PacFXBNvequko5UNHjyc/obraz.png" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/battlerite.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                      <div class="gameRating">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                      <div class="buttons">
                        <div id="upVoteBattlerite" class="btn btn-danger upVote">&#9745;</div>
                        <div id="downVoteBattlerite" class="btn btn-danger downVote">&#9746;</div>
                        <div id="batmanTheEnemyWithinWishlist" class="btn btn-danger addToWishlist">+</div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div><br>

<div class="container">
    <div class="row">

        <div id="BitBlasterXL">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Bit Blaster XL</div>
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://i.ytimg.com/vi/TTHeQ78djOw/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/bitBlasterXL.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="BlackDesertOnline">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Black Desert Online</div>
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://static.gamespot.com/uploads/screen_kubrick/536/5360430/3016274-trailer_blackdesertonline_launch_20160302.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/blackDesertOnline.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="BulletStorm">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Bulletstorm</div>
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://i0.wp.com/realgamemedia.com/wp-content/uploads/2017/04/Bulletstorm-Full-Clip-Edition.jpg?fit=1280%2C720" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/bulletstorm.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>




</div><br><br>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascripts/pcPortal.js"></script>
</html>
