<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/portal2.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: black">Portal 2</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
            Portal 2 is a first-person puzzle-platform video game developed and published by
             Valve Corporation. It is the sequel to Portal (2007) and was released on April 19, 2011
              for Microsoft Windows, OS X, Linux, PlayStation 3, and Xbox 360. The retail versions of
              the game were published by Electronic Arts, while online distribution of the PC
               versions is handled by Valve's content delivery service Steam. Portal 2 was
               announced in March 2010, following a week-long alternate reality game based on
               new patches to the original game. Before the game's release on Steam, the company
               released the Potato Sack, a second multi-week alternate reality game, involving 13
               independently developed titles which culminated in a distributed computing spoof to
               release Portal 2 several hours early.
             </p>
             <p>
               The game retains Portal's gameplay elements, and adds new features, including
               tractor beams, laser redirection, bridges made of light, and paint-like 'gels'
               accelerating the player's speed, allowing the player-character to jump higher
               or place portals on any surface. In the single-player campaign, the player controls
                protagonist Chell, awoken from suspended animation after many years, who must
                navigate the now-dilapidated Aperture Science Enrichment Center during its
                reconstruction by the reactivated GLaDOS, a powerful supercomputer.
              </p>
              <p>
                 The storyline introduces new characters, including Wheatley (Stephen Merchant) and
                 Cave Johnson (J. K. Simmons). Ellen McLain reprised the role of GLaDOS.
                  Jonathan Coulton and The National each produced a song for the game. Portal 2
                   also includes a two-player cooperative mode, in which the robotic player-characters
                    Atlas and P-Body (both voiced by Dee Bradley Baker) are each given a portal gun
                    and are required to work together to solve puzzles.
                  </p>
                  <p>

                 Valve provided post-release support for the game, including additional downloadable
                 content and a simplified map editor to allow players to create and share test chambers
                with others.
              </p>
              <p>
                Although some reviewers initially expressed concerns about the difficulty of expanding
                 Portal into a full sequel, Portal 2 received critical acclaim, particularly
                 for its writing, pacing, and dark humor. The voice work of McLain, Merchant,
                 and Simmons was also praised, as were the new gameplay elements, the challenging
                  but surmountable learning curve, and the additional cooperative mode.
                  Some journalists ranked Portal 2 among the best games of 2011, and several named
                   it their Game of the Year. Portal 2 has since been hailed as one of the greatest
                   video games of all time.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Valve Corporation
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br> April 2011
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://nerdist.com/wp-content/uploads/2014/09/Portal-2-Learn-FEAT.jpg" style="width:100%">
     <img class="mySlides" src="http://net.archbold.k12.oh.us/ahs/web_class/Fall_14/PORTAL2_SCHELLING/IMAGES/Gameplay2.jpg" style="width:100%">
     <img class="mySlides" src="https://tnsdeals.com/media/wysiwyg/games/portalscreenshot.jpg" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row">
      <p>
        Portal 2 is a first-person perspective puzzle game. The Player takes the role of Chell in
         the single-player campaign, as one of two robots—Atlas and P-Body—in the cooperative campaign
         , or as a simplistic humanoid icon in community-developed puzzles. These four characters can
          explore and interact with the environment. Characters can withstand limited damage but will
          die after sustained injury. There is no penalty for falling onto a solid surface,
           but falling into bottomless pits or toxic pools kills the player character immediately.
            When Chell dies in the single-player game, the game restarts from a recent checkpoint;in the
            cooperative game, the robot respawns shortly afterwards without restarting the puzzle.
             The goal of both campaigns is to explore the Aperture Science Laboratory—a complicated,
             malleable mechanized maze. While most of the game takes place in modular test chambers with
             clearly defined entrances and exits, other parts occur in behind-the-scenes areas where the
              objective is less clear.
            </p>
            <p>
              The initial tutorial levels guide the player through the general movement controls
               and illustrate how to interact with the environment. The player must solve puzzles
               using the 'portal gun' or 'Aperture Science Handheld Portal Device', which can
               create two portals connecting two distant surfaces depicted as matte white,
                continuous, and flat. Characters can use these portals to move between rooms
                or to "fling" objects or themselves across a distance. Outlines of placed
                portals are visible through walls and other obstacles for easy location.
              </p>
              <p>
              Game elements include Thermal Discouragement Beams (lasers), Excursion Funnels
              (tractor beams), and Hard Light Bridges, all of which can be transmitted
              through portals.Aerial Faith Plates launch the player or objects through
              the air and sometimes into portals. The player must disable turrets or avoid
              their line of sight. The Weighted Storage Cube has been redesigned, and there
              are new types: Redirection Cubes, which have prismatic lenses that redirect laser
              beams, spherical Edgeless Safety Cubes, an antique version of the Weighted Storage
               Cube used in the underground levels, and a cube-turret hybrid created by
                Wheatley after taking control of Aperture.The heart-decorated Weighted
                 Companion Cube reappears briefly. Early demonstrations included
                 Pneumatic Diversity Vents, shown to transport objects and transfer
                  suction power through portals, but these do not appear in the final game All
                  of these game elements open locked doors, or help or hamper the character
                  from reaching the exit.
                </p>
                <p>
                  Paint-like gels (which are dispensed from pipes and can be transported through
                  portals) impart certain properties to surfaces or objects coated with them.
                   Players can use orange Propulsion Gel to cross surfaces more quickly, blue
                   Repulsion Gel to bounce from a surface,and white Conversion Gel to allow
                   surfaces to accept portals.Only one type of gel can be effective on a certain
                    surface at a time only. Some surfaces, such as grilles, cannot be coated with a
                    gel. Water can block or wash away gels, returning the surface or object to its
                    normal state.
                  </p>
                  <p>
                    The game includes a two-player cooperative mode. Two players can use the same
                    console with a split screen, or can use a separate computer or console; Microsoft
                     Windows, Mac OS X, and PlayStation 3 users can play with each other regardless
                     of platform; a patch provided in late 2012 added split-screen support for Windows and
                     Mac OS X users under "Big Picture" mode. Both player-characters are robots that control
                     separate portal guns and can use the other character's portals. Each player's portals
                     are of a different color scheme, whereof one is blue and purple and the other is orange
                     and red.A calibration chamber separates the characters to teach the players to use the
                     communication tools and portals. Most later chambers are less structured and require
                     players to use both sets of portals for laser or funnel redirection, launches,
                     and other maneuvers.The game provides voice communication between players,
                     and online players can temporarily enter a split-screen view to help coordinate
                     actions. Players can "ping" to draw the other player's attention to walls or
                     objects, start countdown timers for synchronized actions, and perform joint
                     gestures such as waving or hugging. The game tracks which chambers each player
                     has completed and allows players to replay chambers they have completed with
                     new partners.
                   </p>

    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #EA1E1E; color: white">IGN</div>
                <div class="panel-body" style="color: black">
                    <p>
A mind-bending marvel.
 </p>

                    <a href="http://ie.ign.com/articles/2011/04/19/portal-2-review" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9733;
                     </h3>
                </div>
        </div>
      </div>

        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a; color: white">Gamespot</div>
                <div class="panel-body" style="color: black">
                    <p>
Your return to Aperture Science is a joyful one in this immensely appealing, laugh-out-loud funny, and thoroughly satisfying sequel
</p>
                    <a href="https://www.gamespot.com/reviews/portal-2-review/1900-6309133/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9733;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading"style="text-align: center; font-size: large; background-color: #59EA1E; color: white">Destructoid</div>
                <div class="panel-body">
                    <p>
                      It's funny, it's challenging, it's inventive
                    </p>
                    <a href="https://www.destructoid.com/review-portal-2-199302.phtml" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9733;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'Kyc4JK24EuI',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/portal2.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
