<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/sims3.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: black">The Sims 3</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
            The Sims 3 is the third major title in the life simulation video game developed by
            The Sims Studio (Maxis) and published by Electronic Arts. It is the sequel to The Sims 2.
             It was announced that it was in development for PlayStation 3 and Wii in November 2006,
             and later announced for OS X and Microsoft Windows.[7] It was first released on June 2,
             2009 simultaneously for OS X and Microsoft Windows – both versions on the same disc.
             Smartphone versions were also released on June 2, 2009. Console versions were released
             for PlayStation 3, Xbox 360, and Nintendo DS in October 2010 and a month later for the Wii.
              The Windows Phone version was made available on the Windows Phone Store on October 15, 2010.
              A Nintendo 3DS version, released on March 27, 2011, was one of its launch titles.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Sims Studio
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br> June 2009
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://i.ytimg.com/vi/g7wqUoBeudk/maxresdefault.jpg" style="width:100%">
     <img class="mySlides" src="http://2.bp.blogspot.com/-A-RsH7mesj8/ULIc5sFBZ-I/AAAAAAAARYI/X3xVSh4gO5k/s1600/The+Sims+3+Seasons+pc+gameplay+(2).jpg" style="width:100%">
     <img class="mySlides" src="https://i.ytimg.com/vi/5Gr3sIy2Ad4/hqdefault.jpg" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row">
      <p>
        The Sims 3 is built upon the same concept as its predecessors. Players control their
        own Sims' activities and relationships in a manner similar to real life. The game play is
         open-ended and does not have a defined goal. Challenges occur randomly based on aspects
         of each Sim's lifestyle, such as relationships, skills and job. Career opportunities
         such as working overtime or completing special tasks can yield a pay raise, cash bonus,
          or relationship boost. Skill opportunities are requests by neighbors or community members
           for Sims to solve problems using their acquired skills for cash or relationship rewards.
           If the opportunity is connected to a Sim's school, the reward may be increased school
           performance.
         </p>
         <p>
           The new reward system Wishes replaces the Wants And Fears system in its predecessor
           The Sims 2. Fulfilling a Sim's wish contributes to the Sim's Lifetime Happiness score,
           allowing players to purchase lifetime rewards for the cost of those Lifetime Happiness
           points.
         </p>
         <p>

           The game includes an optional feature called "Story Progression" which allows all
            Sims in the neighborhood to autonomously continue free will without the player ever
            controlling those sims. Sims live for a set duration of time that is adjustable by the
            player and advance through several life stages (baby, toddler, child, teen, young adult,
            adult, and elder). Sims can die of old age or they can die prematurely from causes such as
            fire, starvation, drowning, electrocution. Further causes of death were added in the games
            expansion packs.
      </p>
    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #EA1E1E; color: white">IGN</div>
                <div class="panel-body" style="color: black">
                    <p>
                    The Sims make another appearance
                    </p>

                    <a href="http://ie.ign.com/articles/2010/10/29/the-sims-3-review-2" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9734 &#9734 &#9734;
                     </h3>
                </div>
        </div>
      </div>

        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a; color: white">Gamespot</div>
                <div class="panel-body" style="color: black">
                    <p>
                      It's bound to put a smile on almost anyone's face.
                    </p>

                    <a href="https://www.gamespot.com/reviews/the-sims-3-review/1900-6210540/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading"style="text-align: center; font-size: large; background-color: #59EA1E; color: white">Destructoid</div>
                <div class="panel-body">
                    <p>
                      I never feel like I am doing anything new
                    </p>

                    <a href="https://www.destructoid.com/review-the-sims-3-seasons-241842.phtml" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9734 &#9734 &#9734;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'p7BAUNzJvts',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/sims3.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
