<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/sonicMania.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: black">Sonic Mania</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
            Sonic Mania is a 2D platform game published by Sega worldwide in August 2017 for
            Nintendo Switch, Xbox One, PlayStation 4, and Windows. Produced in commemoration of
            the Sonic the Hedgehog series' twenty-fifth anniversary, the story follows Sonic the
             Hedgehog and his companions Tails and Knuckles as they venture to defeat their nemesis
             Doctor Eggman and his robotic henchmen, the Hard-Boiled Heavies. The game homages the
             original Sega Genesis Sonic games, featuring speedy, side-scrolling gameplay. It takes
            place over twelve levels, including eight redesigned stages from past games.
          </p>
          <p>
            The development team was composed of members known for their work in the Sonic
            fangame and ROM hacking community. Development began after lead developer Christian
            "Taxman" Whitehead, who was previously contracted by Sega to develop enhanced mobile
            ports of Genesis Sonic games, presented a playable prototype to Sonic Team producer
            Takashi Iizuka. Art, level design, audio, and additional programming was provided by
            independent studios PagodaWest Games and Headcannon. The team built the game using
            Whitehead's Retro Engine and aimed for a graphical quality between that of Genesis
            and Sega Saturn games.
          </p>
          <p>
            Critics praised Sonic Mania's presentation, level design, music, and faithfulness
            to the early Sonic games, though it received some criticism for its lack of originality.
             Many saw it as a return to form for the Sonic series following a number of poorly
             received games released after the 1990s. Several called it one of the best games of 2017,
             especially in the 2D platformer genre. Sonic Mania Plus, an enhanced version with additional
            characters and content, will be released in mid-2018.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Pagoda West Games
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br> August 2017
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://cdn.vox-cdn.com/thumbor/o21ho6r5-9wCriadPeaxerbRwg4=/0x9:957x547/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/50676899/Screen_Shot_2016-09-05_at_12.17.05_PM.0.0.png" style="width:100%">
     <img class="mySlides" src="https://assets1.ignimgs.com/thumbs/userUploaded/2017/8/3/36190303sonicmaniaspecial02-1501782896609.png" style="width:100%">
     <img class="mySlides" src="https://s.candybanana.com/images/1ef2/37bd6995-58c2-4c2a-a62a-04617458791c_sonic_mania_studiopolis_gunner_1488910945.png" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row">
      <p>
        Sonic Mania is a side-scrolling platformer action game similar to the early Sonic
        the Hedgehog games released for the Sega Genesis. Players select one of three playable
         characters, each with their own unique abilities: Sonic can perform a "drop dash" which
         sends him rolling in a dash after a jump,[1] Tails can fly and swim,[and Knuckles can glide
          and climb walls.As with Sonic the Hedgehog 2 (1992), players can play as Sonic and Tails
          simultaneously, or a second player can control Tails independently.Unlockable options
          include Sonic's abilities from Sonic CD (1993) and Sonic the Hedgehog 3 (1994) in place
          of the drop dash and "& Knuckles" mode, which allows simultaneous control of any character
           and Knuckles.
         </p>
         <p>
           Sonic Mania takes place over twelve levels, called zones; the game features eight
           "remixed" zones, such as Green Hill Zone from the original Sonic the Hedgehog,
           alongside four original zones. Remixed stages consist of both new elements and
           recycled gimmicks and ideas from other past Sonic games. Each zone is divided into
           two acts, in which the player must guide their character past various enemies and
           obstacles to reach the end. At the end of each act, the player takes part in a boss
           battle against Doctor Eggman or one of his robots, including the Hard-Boiled Heavies,
           elite henchmen based on the EggRobo enemies from Sonic & Knuckles (1994).The player
           collects golden rings, which serve as a form of health; players survive hits as long
            as they have at least one ring, but, if hit, their rings scatter and disappear after
            a short time. Television monitors containing rings, elemental shields, or power-ups
            such as invincibility and faster running speed are scattered throughout each level.
</p>
<p>

            Similar to Sonic & Knuckles, the game's story is told via short in-game cutscenes
             at the end of some acts.
      </p>
    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #EA1E1E; color: white">IGN</div>
                <div class="panel-body" style="color: black">
                    <p>
                    Blast processing from the past.
                    </p>

                    <a href="http://ie.ign.com/articles/2017/08/14/sonic-mania-review" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
        </div>
      </div>

        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a; color: white">Gamespot</div>
                <div class="panel-body" style="color: black">
                    <p>
                      Take me back in time to another world
                    </p>

                    <a href="https://www.gamespot.com/reviews/sonic-mania-review/1900-6416729/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading"style="text-align: center; font-size: large; background-color: #59EA1E; color: white">Destructoid</div>
                <div class="panel-body">
                    <p>
                      Sonic Mania is short but sweet.
                    </p>

                    <a href="https://www.destructoid.com/review-sonic-mania-453928.phtml" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'eI4hsOTQZME',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/sonicMania.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
