<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/switch_Portal.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="alphabeticalOrder" style="text-align: center; font-size: large">A</div>
    </div><br>

    <div class="row">

        <div id="Ace_Attorney">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Ace Attorney</div>
                <a href="/users/aceAttorney">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="https://i.ytimg.com/vi/3BWom5OsivQ/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/switch_gif/ace_attorney.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
            </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Aeigis_Defenders">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Aeigis Defenders</div>
                <a href="/users/aeigisDefenders">
                <div class="panel-body">
                    <div class="introImages">
                       <img src="http://cdn1.theouterhaven.net/wp-content/uploads/2018/02/Aegis-Defenders-Cover.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                       <img src="/images/game_pictures/switch_gif/aeigis_defenders.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
              </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
        </div>

        <div id="Axiom_Verge">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Axiom Verge</div>
                      <a href="/users/axiomVerge">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="http://images.nintendolife.com/news/2017/03/axiom_verge_team_still_awaiting_approval_for_nintendo_switch_release/attachment/0/large.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/switch_gif/axiom_verge.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div><br>

<div class="container">

    <!---------------------------------------------------------------------------------------------B------------------------------------------------------------------------------------------------------>
    <div class="row">
        <div class="alphabeticalOrder" style="text-align: center; font-size: large">B</div>
    </div><br>

    <div class="row">

        <div id="BatmanTheEnemyWithin">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Batman: The Enemy Within</div>
                    <a href="/users/batmanTheEnemyWithin">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://source.superherostuff.com/wp-content/uploads/2017/09/maxresdefault-1.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/pc_gif/batmanTheEnemyWithin.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="Bendy_and_the_Ink_Machine">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Bendy and the Ink Machine</div>
                    <a href="/users/bendyAndTheInkMachine">
                        <div class="panel-body">
                            <div class="introImages">
                                <img src="https://i.ytimg.com/vi/laxeNZLP1nQ/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                                <img src="/images/game_pictures/switch_gif/bendy_and_the_ink_machine.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                            </div>
                        </div>
                    </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="Bulb_Boy">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Bulb Boy</div>
                    <a href="/users/bulbBoy">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://vignette.wikia.nocookie.net/gamegrumps/images/c/c6/Bulb_Boy.jpg/revision/latest?cb=20151102065807" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/switch_gif/bulb_boy.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                  </a>
                    <div class="panel-footer">
                        <h5>GDB rating:</h5>
                        <h5>User rating:</h5>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div><br>

<div class="container">

<!---------------------------------------------------------------------------------------------C------------------------------------------------------------------------------------------------------>
<div class="row">
    <div class="alphabeticalOrder" style="text-align: center; font-size: large">C</div>
</div><br>
<div class="row">

    <div id="Cat_Quest">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Cat Quest</div>
                <div class="panel-body">
                    <div class="introImages">
                        <img src="http://www.thegamesshed.com/wp-content/uploads/catquest.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                        <img src="/images/game_pictures/switch_gif/cat_quest.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
    </div>

    <div id="Celeste">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Celeste</div>
                <a href="/users/battlefieldOne">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="http://media.comicbook.com/2018/02/matt-makes-games-1080295-1280x0.jpeg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/switch_gif/celeste.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
    </div>

    <div id="Cluster_Truck">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Cluster Truck</div>
                <div class="panel-body">
                    <div class="introImages">
                        <img src="http://i1.wp.com/www.xboxoneuk.com/wp-content/uploads/2016/10/Clustertruck-Promo-Art-Fullsize-e1476997275556.jpg?fit=1080%2C608" class="img-responsive topImage" style="width:100%" alt="Image">
                        <img src="/images/game_pictures/switch_gif/cluster_truck.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div><br>

<div class="container">

<!---------------------------------------------------------------------------------------------D------------------------------------------------------------------------------------------------------>
<div class="row">
    <div class="alphabeticalOrder" style="text-align: center; font-size: large">D</div>
</div><br>
<div class="row">

    <div id="Dandara">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Dandara</div>
                <div class="panel-body">
                    <div class="introImages">
                        <img src="https://i.ytimg.com/vi/TJzKtAvzlBY/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                        <img src="/images/game_pictures/switch_gif/dandara.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
    </div>

    <div id="Death_Squared">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Death Squared</div>
                <a href="/users/battlefieldOne">
                    <div class="panel-body">
                        <div class="introImages">
                            <img src="https://static.trueachievements.com/customimages/062801.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                            <img src="/images/game_pictures/switch_gif/death_squared.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                        </div>
                    </div>
                </a>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
    </div>

    <div id="Dragon_Quest_X">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Dragon Quest X</div>
                <div class="panel-body">
                    <div class="introImages">
                        <img src="https://i.ytimg.com/vi/cHL5KDr7lTA/maxresdefault.jpg" class="img-responsive topImage" style="width:100%" alt="Image">
                        <img src="/images/game_pictures/switch_gif/dragon_quest_x.gif" class="img-responsive bottomImage" style="width:100%" alt="Image">
                    </div>
                </div>
                <div class="panel-footer">
                    <h5>GDB rating:</h5>
                    <h5>User rating:</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div><br>

<br>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
