<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/tombRaider.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: black">Tomb Raider</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
            Tomb Raider is an action-adventure video game developed by Crystal
            Dynamics and published by Square Enix. Tomb Raider is the tenth title in the
            Tomb Raider franchise, and operates as a reboot that reconstructs the origins of
            Lara Croft.Tomb Raider was released on 5 March 2013 for Microsoft Windows,PlayStation 3 and
             Xbox 360, and on 23 January 2014 for OS X, and on 27 April 2016 for Linux.
           </p>
           <p>
             Crystal Dynamics began development of Tomb Raider soon after the release of
             Tomb Raider: Underworld in 2008. Rather than a sequel, the team decided to
             completely reboot the series, re-establishing the origins of Lara Croft for the
             second time, following Tomb Raider: Legend. Tomb Raider is set on Yamatai, an
             island from which Lara, who is untested and not yet the battle-hardened explorer
             she is in other titles in the series, must save her friends and escape while being
             hunted down by a malevolent cult. Gameplay elements focus more on survival,
             although exploration is used within the game when exploring the island and
             various optional tombs. It is also the first game in the series to have multiplayer
             and the first game to be published by Square Enix, after the latter's acquisition of
             Eidos Interactive in 2009. Camilla Luddington was announced to voice and perform as
             Lara Croft in 2010, replacing Keeley Hawes.
           </p>
           <p>
             After a delayed release from late 2012 to March 2013, Tomb Raider received much
              anticipation and hype. Upon release, the game was well received, with critics
              praising the graphics, the gameplay, Luddington's performance as Lara, and Lara's
              characterization and development, although the addition of a multiplayer mode was
              not well received and some reviewers directed criticism towards the disconnection
              between the narrative and the player's actions during gameplay.
              Tomb Raider sold one million copies within 48 hours of its release, and
              has sold more than 11 million copies as of November 2017, making it the
              best-selling Tomb Raider title to date.

          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Crystal Dynamic
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br> March 2013
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://i.ytimg.com/vi/Y5Nyaf7Auys/maxresdefault.jpg" style="width:100%">
     <img class="mySlides" src="https://archaeologyoftombraider.files.wordpress.com/2015/06/rise-tomb-raider-gameplay-reveal-05.jpg" style="width:100%">
     <img class="mySlides" src="http://www.gamespersecond.com/media/2013/03/tomb-raider-2013-gallery-12.jpg" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row">
      <p>
        Tomb Raider is presented in third-person perspective. Players take control of
        the series lead character Lara Croft. The game uses an interconnected hub-and-spoke
         model that combines action-adventure, exploration, and survival mechanics.Players can
         traverse between the camps and across the island using footpaths, improvised or already-available
          ziplines and climbable tracks. Many of the players moves are carried over from the
          previous games created by Crystal Dynamics, with some tweaks added, such as incorporating
          elements of stealth gameplay. Quick Time Events are scattered at regular intervals throughout
           the game, often appearing at crucial or fast-moving points in the game's plot, such as
            extracting a shard of metal, and escaping a collapsing cave.
          </p>
          <p>
            The combat of the game borrows multiple elements from Naughty Dog's Uncharted series,
             with players having the ability to free-aim Lara's bow and the guns she salvages,
              engage in close-quarter combat and perform stealth kills.Players can also use Survival
              Instinct, an ability in which enemies, collectables and objects pivotal to environmental
              puzzles will be highlighted for players.The game also incorporates RPG elements:
              as players progress through the game, they earn experience points from performing
              certain actions and completing in-game challenges linked with hunting, exploring and
              combat: this enables players' skills and abilities to be upgraded in specific ways,
              such as giving her more storage capacity for arrows and ammunition.Players can also
               upgrade and customize weapons using salvage collected across the island.
               There is also a character progression mechanic in the game: better items,
               weapons and equipment are gained as players progress, though the appearance
                of most of these items is closely linked to events in the story.
              </p>
              <p>
                In addition to the main story, players can complete multiple side quests,
                explore the island, revisit locations, and search for challenge tombs.
      </p>
    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #EA1E1E; color: white">IGN</div>
                <div class="panel-body" style="color: black">
                    <p>
                Tomb Raider is well-written, sympathetic, exciting, beautiful and just incredibly well-made
                  </p>

                    <a href="http://ie.ign.com/articles/2013/02/25/tomb-raider-review-2" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
        </div>
      </div>

        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a; color: white">Gamespot</div>
                <div class="panel-body" style="color: black">
                    <p>
                      In addition to the excellent campaign,
                      there's an enjoyable but unremarkable competitive multiplayer component.
                    </p>

                    <a href="https://www.gamespot.com/reviews/tomb-raider-review/1900-6404378/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading"style="text-align: center; font-size: large; background-color: #59EA1E; color: white">Destructoid</div>
                <div class="panel-body">
                    <p>
                      Lara Croft has at last scaled the
                      mountain of relevance once again, and the view's pretty good from up there..
                     </p>

                    <a href="https://www.destructoid.com/review-tomb-raider-246503.phtml" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9733;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'YnN5bjmRMgE',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/tombRaider.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
