<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/xCom2.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: black">X-Com 2</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
            XCOM 2 is a turn-based tactics video game developed by Firaxis
            Games and published by 2K Games for Microsoft Windows, OS X, and Linux
            in February 2016, and for PlayStation 4 and Xbox One in September 2016.
            The game is the sequel to 2012's reboot of the series, XCOM: Enemy Unknown.
          </p>
          <p>
            Taking place 20 years after the events of Enemy Unknown, it follows the continuity that
            XCOM, a military organization trying to fight off an alien invasion, has lost the war,
            and is now a resistance force against their occupation of Earth. The expansion XCOM 2:
            War of the Chosen was released in 2017.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Firaxis Games
            <br>
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br>February 2016
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://www.thebitbag.com/wp-content/uploads/2015/08/xXCOM-2-customization-features.jpg.pagespeed.ic.Y0KEuFBOAd.jpg" style="width:100%">
     <img class="mySlides" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfDfuzytIHBeCL5O1IzSKpM3WUl9NaiFwRzd32gUJjbHrnhOu9" style="width:100%">
     <img class="mySlides" src="http://nextgengamingblog.com/files/2015/06/xcom-2-676x380.jpg" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row">
      <p>
        As with previous games in the series, XCOM 2 casts the player as the commander
        of the eponymous military organization, now reduced to a resistance force opposing
        the ongoing alien occupation of the planet. Players take control of the Avenger,
        the new mobile base for XCOM. Players are tasked to give commands to squad members in
        battles against aliens during missions, while commanding the engineering and research department
        of the base between missions to create and research improved and new gadgets, weapons and
        technologies to assist players in battle.
      </p>
      <p>
        Soldiers can be recruited, with each soldier class
        having their own skill trees and abilities. For example, the Grenadier class can gain access to
        explosives and grenade launchers, while the Ranger is equipped with melee weapons like swords.
        Armor and weaponry can also be researched and upgraded by the player in the Avenger base.
        Each mission's environment is influenced by the world's state, while maps are procedurally-generated
         to create a wide variety of levels, in which every map features different terrain and buildings in
         each play-through. Mods are also supported. Campaign, class and enemy types can be created by users
          and can be shared through Steam Workshop. A one-versus-one multiplayer mode also returns from
          Enemy Unknown. New enemies are also featured, such as units from the new faction, ADVENT,
          and more alien types like the Viper.
        </p>
        <p>
At the start of most missions, the player's squad will be concealed and will not be detected by
any enemies. They can position their troops to plan their battle and ambush enemies.The player
can also loot corpses of enemies to obtain weapons, upgrade parts and artifacts.
Melee weapons are also featured. Players can also hack into enemies' mechanical weapons like
 turrets and temporarily shutdown or control them for themselves. Soldiers in the squad can be
 killed by enemies; however, their bodies can be carried back to extraction to keep their equipment
  should the player deem it necessary to abort the mission.Likewise, if a soldier is critically wounded
  and it is deemed necessary to abandon the mission, a soldier can carry the wounded soldier to extraction
   where they are revived upon leaving the map.XCOM 2 features faster combat than Enemy Unknown, as there
   are a lot of "hit-and-run" missions where players must rush into facilities to complete their objective
    quickly and return to the extraction point immediately.This includes semi-random attacks on the
    Avenger by alien UFOs, which will cause an automatic game loss if failed.
  </p>
  <p>
    The mission structure of the game is also different from other XCOM video games,
    as XCOM 2 features secondary objectives for the first time in the series.
    Reinforcements play a bigger role, and depending on the mission, ADVENT will continuously
    deploy new enemy troops. Another feature added is the Avatar Program, a research project run by
    the aliens, that gradually proceeds over time, and if completed is an automatic loss.
     This can be delayed by sabotaging alien research facilities and other semi-random events.
      </p>
    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #EA1E1E; color: white">IGN</div>
                <div class="panel-body" style="color: black">
                    <p>
                    The element of surprise works both ways in this excellent sequel.
                    </p>

                    <a href="http://ie.ign.com/articles/2016/02/01/xcom-2-review" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
        </div>
      </div>

        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a; color: white">Gamespot</div>
                <div class="panel-body" style="color: black">
                    <p>
XCOM 2's strategy layer imparts the same urgency as the tactical battles on the ground.
                    <a href="https://www.gamespot.com/reviews/xcom-2-review/1900-6416347/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading"style="text-align: center; font-size: large; background-color: #59EA1E; color: white">Destructoid</div>
                <div class="panel-body">
                    <p>
                      the level of depth and the number of tactical options at your disposal have been greatly expanded
                    </p>
                    <a href="https://www.destructoid.com/review-xcom-2-341421.phtml" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'VIRDb_O6qXA',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/xCom2.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
