!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/yookaLaylee.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: black">Yooka Laylee</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
            Yooka-Laylee is a platform game published by Team17 in 2017 for Linux,
            macOS, Windows, PlayStation 4, Xbox One, and Nintendo Switch.Developed by
             Playtonic Games, a group of former key personnel from Rare,
              Yooka-Laylee is a spiritual successor to their series Banjo-Kazooie released
              for the Nintendo 64 nearly 20 years prior.
          </p>
          <p>
            To develop the game, Playtonic Games
            initiated a Kickstarter campaign that resulted in significant media coverage and raised
            over a record-breaking £2 million. The game follows chameleon Yooka and bat Laylee on
             their quest to retrieve a magical book from an evil corporation.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Playtonic Games
            <br>Team 17
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br>April 2017
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://s3.amazonaws.com/indieobscura-www/assets/article/2017/04/06/reviewsonly_4thapril4pmbstembargo_bossreveal_feature.jpg" style="width:100%">
     <img class="mySlides" src="https://s3.amazonaws.com/indieobscura-www/assets/article/2017/04/06/reviewsonly_4thapril4pmbstembargo_bossreveal_feature.jpg" style="width:100%">
     <img class="mySlides" src="https://2.bp.blogspot.com/-3hEFndHn8fE/WO2JOyaeqaI/AAAAAAAAAwo/N8xyCvy8UaQyz1lX-uQO5kvkxkTlacf_ACEw/s1600/yooka%2Blaylee%2B2.png" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row">
        <p>
          Yooka-Laylee is a platform game played from a third-person perspective.
          The gameplay is similar to that of games in the Banjo-Kazooie series.
          The player controls two characters that work together to explore their environment, collect items, solve puzzles and defeat enemies. The playable characters are Yooka, a male chameleon, and Laylee, a female bat.During their adventures, Yooka and Laylee explore open worlds contained within magical books and complete challenges to collect "Pagies": golden book pages that act as the main currency in the game. Players can use their Pagies to either unlock new worlds or expand those which have already been unlocked.
        </p>
        <p>
      The characters' abilities include "sonar blasting", "tongue whipping", "sky soaring",
      eating berries for temporary powers such as fire breath, and a "fart bubble" for
      breathing underwater. Most of these abilities use a power meter that is filled by
      collecting butterflies (which can be eaten instead to restore health).
      Each new ability is earned by collecting enough quills to purchase them from Trowzer,
      a snake salesman who wears pants. Collectibles by the name of Mollycools are used in order to give
      Yooka and Laylee various transformations that grant them exclusive abilities.
       Play Tonics are RPG-style ability modifiers that are purchased from Vendi, a living vending machine,
       and equipped to modify or enhance players' ability stats.
     </p>
  <p>
       Also found in the levels are Ghost Writers, collectible characters who provide
       various challenges like catching or fighting them for more activities, and
       Play Tokens, which are used to play the secret arcade games that are found once per level,
        hosted by a low polygon T. rex named Rextro Sixtyfourus, a homage to the Nintendo 64.
        There are several "quiz show challenges", similar to the Banjo-Kazooie games.
         Furthermore, 2D and 3D "mine cart" sequences are also included, similar to those of Donkey
         Kong Country and Donkey Kong 64.
       </p>
       <p>
      The game features a local cooperative multiplayer mode for two players.
      There is also a 2–4 player adversarial local multiplayer mode, with eight different minigames.
      The game will also feature an upcoming, optional "N64 shader" mode, which imitates the graphical
      appearance of Nintendo 64 games.
    </p>
    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #EA2E1E; color: white">IGN</div>
                <div class="panel-body" style="color: black">
                    <p>
While it lacks the heart and polish of some of its incredible predecessors, it’s a good reminder that this genre, once thought to be dead, still has some life left in it.                    </p>

                    <a href="http://ie.ign.com/articles/2017/04/04/yooka-laylee-review" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9734 &#9734;
                     </h3>
                </div>
        </div>
      </div>

        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #1c1a1a; color: white">Gamespot</div>
                <div class="panel-body" style="color: black">
                    <p>
Yooka-Laylee certainly delivers--from the font to the music to the wealth of collectibles, it’s worthy of the title of spiritual successor.                    </p>

                    <a href="https://www.gamespot.com/reviews/yooka-laylee-review/1900-6416649/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9734 &#9734;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading"style="text-align: center; font-size: large; background-color: #88EA1E; color: white">Destructoid</div>
                <div class="panel-body">
                    <p>
Yooka-Laylee tries really hard in just about every aspect  </p>

                    <a href="https://www.destructoid.com/review-yooka-laylee-425484.phtml" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9734 &#9734 &#9734;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'R57JwzXartU',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/yookaLaylee.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
