<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/zenge.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: black">Zenge</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
            Zenge is a peculiar puzzle game,telling the story of Eon - a lonely journeyman who's stuck between the worlds and time.
            Game is intended to be a relaxing experience, thus there are no points, stars, tutorials, move counters,
            in game shops or any other distractors. Just pure, immersive journey with Eon, told through gorgeous art and music.
         </p>
          <p>
              Made by Michal "Hamster" Pawlowski and Konrad Januszewski (he drew it!)
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Michal Pawlowski
            <br>Hamster on Coke Games
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br>April 2016
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="http://hamsteroncoke.com/zenge/uploads/6/1/8/4/61847081/3324204_orig.png" style="width:100%">
     <img class="mySlides" src="http://hamsteroncoke.com/zenge/uploads/6/1/8/4/61847081/5558768_orig.png" style="width:100%">
     <img class="mySlides" src="http://hamsteroncoke.com/zenge/uploads/6/1/8/4/61847081/699045_orig.png" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row">
      <p>
        Zenge is no ordinary puzzle-game because its main focus is to keep you relaxed during your free time.
        Instead of making you sweat and beat yourself crazy because you can't solve that last puzzle for days,
        it has no time nor move limits and it has no score - so you don't have to worry about passing each level
         in a best possible way or as fastest as possible - you can just enjoy the gameplay.

      </p>
      <p>
        You are playing as Eon, unordinary traveller who's stuck both in time and place.
        The gameplay itself is built around a pretty obvious concept involving tangram puzzles.
        You start off by finishing some pretty easy shapes but the game ramps up the challenge pretty fast so
        you don't have to worry that you will run out of puzzles anytime soon.
        The game features 70 different levels
     </p>

    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #EEB21F; color: black">Touch Arcade</div>
                <div class="panel-body" style="color: black">
                    <p>
                        If the idea of solving concepts by sliding things into place excites you, you'll probably enjoy
                        Zenge and the whimsical presentation it drags along with it
                      </p>

                    <a href="http://toucharcade.com/2016/04/22/zenge-review/" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9734 &#9734;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading"style="text-align: center; font-size: large; background-color: #F34A1D; color: black">Destructoid</div>
                <div class="panel-body">
                    <p>
                      There are a few brief moments in Zenge that shine, but most of the time it's just a passable puzzler.
                    </p>

                    <a href="https://www.destructoid.com/review-zenge-355617.phtml" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: '7_BjvlPsWww',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/AC_Origins.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
