<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/stylesheets/zeroEscapeVLR.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="backgroundOne">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alphabeticalOrder" style="text-align: center; font-size: large">
            <h1 class="display-3 text-center text-white mt-4" style="color: black">Zero Escape: Virtues Last Reward</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4 heading">Overview:</h2>
          <p>
    Zero Escape: Virtue's Last Reward[a] is an adventure video game developed by Chunsoft.
    It is the second installment in the Zero Escape series, and was released in 2012 for the Nintendo 3DS and PlayStation Vita.
     The story follows the player character Sigma, a man who is abducted and forced along with eight other individuals to play the Nonary Game, which puts its participants in a life-or-death situation. As the story progresses, the characters begin to unravel the secrets behind the Nonary Game, as well as its true purpose.
         </p>
          <p>
              In 2028, Sigma is abducted and placed inside an elevator with Phi.
              Zero III appears on a monitor and informs them that they are participants in the
              Nonary Game and that they must escape the elevator before it falls. Upon escaping,
              they find themselves in a warehouse-like facility with Dio, Quark, Tenmyouji,
              Luna, Alice, K, and Clover. Zero III informs the group that nine individual
              bracelet points are necessary to escape the facility, and points can only be earned by
              participating in the Ambidex Game.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="details">
          <address>
            <strong>Developed By:</strong>
            <br>Chunsoft
            <br>
            <br>
          </address>
          <address>
            <strong>Release Date:</strong>
            <br> March 2017
          </address>
        </div>
        </div>
      </div>

      <!-- /.row -->
</div>
<div class="backgroundTwo"></div>
      <div class="container">
       <div class="row">
      <h2 class="mt-4 heading">Gameplay:</h2>
   <div class="w3-content w3-display-container col-lg-6" style="max-width:550px; padding-bottom: 20px">
     <img class="mySlides" src="https://static.giantbomb.com/uploads/original/3/33880/2358336-zero_escape_vol._2__virtue_s_last_reward__2_.jpg" style="width:100%">
     <img class="mySlides" src="https://www.destructoid.com//ul/237309-ZeroIII-Header.jpg" style="width:100%">
     <img class="mySlides" src="http://virtueslastreward.com/image/wallpaper/VLR_wallpaper_2_1920x1200.jpg" style="width:100%">
     <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%; padding-bottom: 10px;">
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
       <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
     </div>
     </div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div id="player" class="col-lg-6" style="width: 100%; max-width:520px"></div>
   </div>

      <div class="row">
      <p>
        The gameplay of Virtue's Last Reward is divided into two types of sections: Novel and
        Escape. In Novel sections, the player advances through the storyline and converses with
        non-playable characters through visual novel segments.
        These sections require little interaction from the player other than reading the dialogue
        and text that appear on the screen.During Novel sections, the player may be
        with decision options that affect the course of the game. One recurring decision option is a
        prisoner's dilemma-type choice where the player must choose to "ally" or "betray" the characters
        they are pitted against, with different results depending on what choices the two parties picked
      </p>
      <p>
        In between Novel sections are Escape sections, which occur when the player arrives in a room from
        which they need to find a means of escape.These are presented from a first-person perspective,
        with the player able to move between predetermined positions in each room.To escape, the player
        is tasked with finding various items and solving puzzles, reminiscent of escape-the-room games.
        At some points, the player may need to combine objects with each other to create the necessary tool
        to complete a puzzle.The puzzles include various brain teasers, such as Lights Out and sliding puzzles.
        In each Escape room, a safe can be found, which can be opened with two passwords.
        One of these passwords gives the player the key needed to escape from the room, while the other grants access
        to a hidden folder that provides the player with supplementary backstory or other information.
        The player receives hints to the puzzle solutions from the game's characters; further, more direct, hints are
         received if the player changes the puzzle's difficulty level from "hard" to "easy".
     </p>
     <p>
       The player has access to a flowchart that allows them to immediately revisit or
       "jump" to any previously completed Novel or Escape section without replaying the game from the beginning.
       This allows the player to transition to an earlier branching point in the story and choose a different option
       that causes the story to progress in another direction.For example, the player can jump to a previous
       decision and ally with their opponent instead of betraying them, and vice versa.
       While there are 24 endings available,many endings are inaccessible initially and must be unlocked
       by experiencing events or learning information in other plotlines. For example, if a particular plotline
       cannot progress because a required password is unknown, the player must jump to another plotline and learn
       the password there before returning to the original one.
     </p>

    </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mt-4 heading">Reviews:</h2>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #BD220D; color: black">IGN</div>
                <div class="panel-body" style="color: black">
                    <p>
                        There is no choice, though, when it comes to whether or not you should buy. Do it. Buy now.
                        There should be no timeline ever created that doesn't contain you playing this game.
                      </p>

                    <a href="http://ie.ign.com/articles/2012/10/24/zero-escape-virtues-last-reward-review" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9733;
                     </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading" style="text-align: center; font-size: large; background-color: #4DEA1E; color: white">Destructoid</div>
                <div class="panel-body" style="color: black">
                    <p>
                      There may be a "true" ending, but every outcome is true in its own way.
                    </p>

                    <a href="https://www.destructoid.com/review-zero-escape-virtue-s-last-reward-238140.phtml" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9733 &#9734;
                     </h3>
                </div>
            </div>
        </div>

        <div id="reviewThree">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-success" style="border-width: 0px">
                <div class="panel-heading"style="text-align: center; font-size: large; background-color: #104180; color: white">Escapist Magazine</div>
                <div class="panel-body">
                    <p>
                    The story is rough in patches, but fans of Nine Hours, Nine Persons, Nine Doors, or just visual novels in general, will still want to grab this.
                    Even if you're not in one of those camps, it's pretty much worth it just for the rabbit.
                    </p>

                    <a href="http://www.escapistmagazine.com/articles/view/video-games/editorials/reviews/10010-Zero-Escape-Virtue-s-Last-Reward-Review#&gid=gallery_952&pid=1" target="_blank" style="color: blue">
                      Read More
                    </a>
                </div>
                <div class="panel-footer">
                     <h3 style="color: gold">
                       &#9733 &#9733 &#9733 &#9734 &#9734;
                     </h3>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="backgroundThree"></div>

<div class="container">
 <div class="row">
<h2 class="mt-4 heading">Comments:</h2>

<div class="commentsBox well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="textArea form-control required" rows="3" id="inputPost"
                              placeholder="Add a comment..." maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">



                <div class="col-xs-3">
                    <button type="text" class="postButton btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
</div>
</div>
<br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
    // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '293',
          width: '520',
          videoId: 'r4bidOzjSTg',
          events: {
            'onReady': null,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-white";
    }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/AC_Origins.js">
    // <!--script src="/javascripts/hello.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/2.0.0-1/hello.all.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </body>

</html>
