.backgroundOne {
  height: 50vh;
  min-height: 400px;
  background-image: url('https://hdwallsource.com/img/2015/8/portal-2-glados-wallpaper-45184-46377-hd-wallpapers.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundTwo {
  height: 200px;
  min-height: 30px;
  background: url('http://s1.picswalls.com/wallpapers/2014/09/22/awesome-portal-2-wallpaper_044319271_242.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundThree {
  height: 200px;
  min-height: 30px;
  background: url('https://vignette.wikia.nocookie.net/half-life/images/c/c6/Portal_2_coop_jan_22_1.jpg/revision/latest?cb=20110205172258&path-prefix=en');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alphabeticalOrder {
    background-color: #FF9E00;
    padding: 5px;
    border-radius: 10px;
}

.heading {
  color: white;
  font-weight: bold;
  padding: 10px;
}

.details {
  margin: auto;
    width: 100%;
    padding: 20px;
}

.card {
  height: 100%;
}

.mySlides {
  border-radius: 10px;
}

#reviewThree .panel-heading {
  text-align: center;
  font-size: large; background-color: #d11b1b;
  color: white;
}

.panel-body {
  color: black;
}

.panel-footer {
  text-align: center;
}

.commentsBox {
  background-color: #1c1a1a;
  border-width: 0px;
}

.textArea {
  border-width: 0px;
  max-width: 100%;
  background-color: #6d6969;
  color: white;
  font-size: medium;
}

.postButton {
  border-width: 0px;
  border-radius: 20px;
  background-color: orange;
}

.comments {
  padding: 10px;
  color: black;
}
