.backgroundOne {
  height: 50vh;
  min-height: 400px;
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/921418643375320617/A55CE6CD36E8C70E6C7B8FACC9243E03AE3E7C53/');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundTwo {
  height: 200px;
  min-height: 30px;
  background: url('https://metrouk2.files.wordpress.com/2016/08/ss_1557c841b958dd94b22691da58860f79e4424c6f-1920x1080.jpg?quality=80&strip=all&strip=all');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundThree {
  height: 200px;
  min-height: 30px;
  background: url('https://orig00.deviantart.net/9389/f/2013/355/1/1/starbound_multi_race_wallpaper_by_adejesus123-d6yu5jt.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alphabeticalOrder {
    background-color: #FE9722;
    padding: 5px;
    border-radius: 10px;
}

.heading {
  color: white;
  font-weight: bold;
  padding: 10px;
}

.details {
  margin: auto;
    width: 100%;
    padding: 20px;
}

.card {
  height: 100%;
}

.mySlides {
  border-radius: 10px;
}

#reviewThree .panel-heading {
  text-align: center;
  font-size: large; background-color: #d11b1b;
  color: white;
}

.panel-body {
  color: black;
}

.panel-footer {
  text-align: center;
}

.commentsBox {
  background-color: #1c1a1a;
  border-width: 0px;
}

.textArea {
  border-width: 0px;
  max-width: 100%;
  background-color: #6d6969;
  color: white;
  font-size: medium;
}

.postButton {
  border-width: 0px;
  border-radius: 20px;
  background-color: orange;
}

.comments {
  padding: 10px;
  color: black;
}
